@font-face {
  font-family: "배민도현";
  src: url(BMDOHYEON_ttf.ttf);
}

body {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}
.explain strong {
  font-size: 40px;
}
.upcontainer {
  width: 100%;
  height: 50%;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downcontainer {
  width: 100%;
  height: 70%;
  min-height: 1000px;
  /* margin-top: -28%; */
}
.boxes {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.caption h2 {
  font-size: 24px;
  margin: 0;
}

.caption p {
  font-size: 16px;
  margin: 0;
}
.header {
  /* display:flex; */
  width: 100%;
  height: 100%;
  background-color: #ec323b;
  color: white;
  font-weight: bold;
  font-size: 44px;
  text-align: center;
  font-family: "배민도현";
}

.icon {
  width: 100px;
  position: absolute;
  left: 20px;
}

.header > img {
  max-width: 20px;
  max-height: 20px;
}

.clickmenu {
  display: flex;
  width: 100%;
  height: 100%;
}

.button {
  background-color: #fafafa;
  flex: 1;
  margin: 0 5px; /* 간격 조절 */
}
.button.active {
  background-color: #f1c40f; /* 예시로 활성화 된 버튼의 배경색 변경 */
}

.firstbuttondiv {
  width: 25%;
  height: 60%;
  float: left;
  margin-top: 5px;
  border: 3px solid #ec323b;
  text-align: center;
}

.secondbuttondiv {
  width: 25%;
  height: 60%;
  float: left;
  margin-top: 5px;
  border: 3px solid #ec323b;
  text-align: center;
}

.thirdbuttondiv {
  width: 25%;
  height: 60%;
  margin-top: 5px;
  border: 3px solid #ec323b;
  text-align: center;
  float: left;
}

.fourbuttondiv {
  width: 25%;
  height: 60%;
  margin-top: 5px;
  border: 3px solid #ec323b;
  text-align: center;
  float: left;
}

.realimg {
  width: 30%;
  height: 30%;
  text-align: center;
  margin-top: 20px;
}

h3 {
  color: black;
  margin-top: 3%;
  font-size: 30px;
  font-family: 배민도현;
}

.explain {
  width: 100%;
  height: 6%;
  font-size: 40px;
  color: #ec323b;
  text-align: center;
  margin-top: 10px;
  font-family: "배민도현";
}

.menu {
  width: 100%;
  height: 80%;
  max-height: 250px;
  overflow-y: scroll;
  font-family: "배민도현";
}

/* .gradation{
    background: radial-gradient(circle at center, #A9BCF5, #FBF9F9); 
} */

.first {
  /* float: left; */
  width: 30%;
  height: 30%;
  margin-left: 2%;
  /* margin:0 auto; */
  margin-top: 2%;
  display: inline-block;
  border: #ec323b solid 2px;
}

.second {
  /* float:left; */
  margin-left: 1%;
  width: 30%;
  height: 30%;
  margin-top: 2%;
  display: inline-block;
  border: #ec323b solid 2px;
}

.third {
  /* float: left; */
  margin-left: 1%;
  width: 30%;
  height: 30%;
  margin-top: 2%;
  display: inline-block;
  border: #ec323b solid 2px;
}

.four {
  /* float: left; */
  width: 30%;
  height: 30%;
  margin-left: 2%;
  /* margin:0 auto; */
  margin-top: 2%;
  display: inline-block;
  border: #ec323b solid 2px;
}

.five {
  /* float: left; */
  margin-left: 1%;
  width: 30%;
  height: 30%;
  margin-top: 2%;
  display: inline-block;
  border: #ec323b solid 2px;
}

.six {
  /* float: left; */
  margin-left: 1%;
  width: 30%;
  height: 30%;
  margin-top: 2%;
  display: inline-block;
  border: #ec323b solid 2px;
}

.firstitemprice {
  width: 100%;
  height: 5%;
  margin-left: 2%;
  /* overflow:hidden; */
  /* margin:0 auto; */
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
}

.seconditemprice {
  margin-left: 3%;
  width: 100%;
  height: 5%;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
}

.thirditemprice {
  margin-left: 3%;
  width: 100%;
  height: 5%;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
}

.firstmoneyprice {
  width: 100%;
  height: 5%;
  margin-left: 2%;
  /* overflow:hidden; */
  /* margin:0 auto; */
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: inline;
  color: red;
  margin-left: 30%;
}

.secondmoneyprice {
  margin-left: 3%;
  width: 100%;
  height: 5%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: inline;
  color: red;
  margin-left: 30%;
}

.thirdmoneyprice {
  margin-left: 3%;
  width: 100%;
  height: 5%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: inline;
  color: red;
  margin-left: 30%;
}

strong {
  display: inline;
  text-align: center;
  font-size: 30px;
}
.divimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 1;
    animation: slideInFromTop .2s ;   */
}

.realmenu {
  width: 100%;
  min-height: 150px;
}

.footer {
  width: 100%;
  height: 3%;
}

#realfirst {
  position: relative;
  float: left;
  margin-left: 2%;
  width: 15%;
  height: 90%;
  margin-top: 13px;
}

#realsecond {
  position: relative;
  float: left;
  margin-left: 1%;
  width: 15%;
  height: 90%;
  margin-top: 13px;
}

#realthird {
  position: relative;
  float: left;
  margin-left: 1%;
  width: 15%;
  height: 90%;
  margin-top: 13px;
}

#realfour {
  position: relative;
  float: left;
  margin-left: 1%;
  width: 15%;
  height: 90%;
  margin-top: 13px;
}

#realfive {
  position: relative;
  float: left;
  margin-left: 1%;
  width: 15%;
  height: 90%;
  margin-top: 13px;
}

#realsix {
  position: relative;
  float: left;
  margin-left: 1%;
  width: 15%;
  height: 90%;
  margin-top: 13px;
}

#realfirst img {
  pointer-events: none;
}

#realsecond img {
  pointer-events: none;
}

#realthird img {
  pointer-events: none;
}

#realfour img {
  pointer-events: none;
}

#realfive img {
  pointer-events: none;
}

#realsix img {
  pointer-events: none;
}

.delete-btn {
  position: absolute;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.footer {
  width: 100%;
  height: 12%;
  background-color: #ec323b;
  margin-top: 4%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "배민도현";
}

.order {
  width: 100%;
  height: 40%;
  min-height: 160px;
  background-color: #eaeaea;
  font-family: "배민도현";
}

table {
  background-color: white;
  /* border:2px solid #210B61; */
  margin-left: 5%;
  border-collapse: collapse;
  position: relative;
  top: 20px;
  float: left;
}
th,
td {
  /* border:2px solid #210B61; */
  text-align: left;
  border-radius: 10%;
  padding: 3.5%;
}

.order-btn1 {
  float: left;
  padding: 3.5%;
  /* padding-left: 10%;
padding-right: 10%; */
  margin-left: 4%;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: black;
  font-family: "배민도현";
}
.order-btn2 {
  float: left;
  border-radius: 10px;
  padding: 3.5%;
  border: none;
  padding-left: 8%;
  padding-right: 8%;
  margin-left: 2%;
  background-color: #ec323b;
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  font-family: "배민도현";
}

.slideInFromTop {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; /*애니메이션이 끝난 후 마지막 상태를 유지 위에꺼는 움직임이 천천히 멈추는 효과*/
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.itemprice {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
}

#totalCnt {
  justify-content: center;
  align-items: center; /* 수직 가운데 정렬 */
  text-align: center;
  font-family: "배민도현";
}

#totalMoney {
  justify-content: center;
  align-items: center; /* 수직 가운데 정렬 */
  text-align: center;
  font-family: "배민도현";
}
