@font-face {
  font-family: "배민도현";
  src: url(BMDOHYEON_ttf.ttf);
}

body {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

.topcontainer {
  width: 100%;
  height: 500px;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
}

.kiosk {
  margin-top: 5%;
  height: 30%;
  font-size: 100px;
  font-weight: bold;
  margin-left: 6%;
  color: #ec323b;
  font-family: "배민도현";
}

.explain {
  font-size: 50px;
  font-weight: bold;
  color: black;
  margin-left: 6%;
  font-family: "배민도현";
}

.kioskexplain {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1%;
  margin-left: 6%;
  color: black;
  font-family: "배민도현";
  line-height: 1.5;
}

.subcontainer {
  position: relative; /* 위치 지정 */
  top: 1px; /* 원하는 간격 크기에 따라 조절 */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개의 열 생성 */
  gap: 4.4%; /* 간격 설정 */
  margin: 4%; /* 각 박스와 화면 사이의 간격을 넓힘 */
}

.box1 {
  height: 300px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  position: relative; /* 상대적인 위치 지정 */
  top: -15px; /* 원하는 만큼 위로 이동 */
}

.box2 {
  height: 300px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  position: relative; /* 상대적인 위치 지정 */
  top: -15px; /* 원하는 만큼 위로 이동 */
}

.realimg {
  margin-top: 5px;
  width: 60%;
  height: auto;
}

/* 이미지 아래에 텍스트를 표시하기 위한 스타일 */
.box1 span {
  margin-top: 30px;
  color: black;
  font-family: "배민도현";
  font-weight: bold;
  font-size: 40px;
}

.box2 span {
  margin-top: 30px;
  color: black;
  font-family: "배민도현";
  font-weight: bold;
  font-size: 40px;
}

.finalcontainer {
  position: relative; /* 위치 지정 */
  height: 8em;
  top: -10px; /* 아래로 내리는 값 조절 */
  background-color: #ec323b;
}

.finalment {
  position: relative;
  top: 35px;
  font-family: "배민도현";
  color: white;
  font-size: 30px;
  text-align: center; /* 수평 가운데 정렬 */
}

.selectbox {
  position: relative; /* 위치 지정 */
  top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열 생성 */
  grid-template-rows: repeat(3, 1fr); /* 3개의 행 생성 */
  gap: 6px; /* 열 간의 간격 설정 */
  grid-row-gap: 4px; /* 행 간의 간격 설정 */
  margin: 2%;
  text-align: center;
}

.select {
  height: 30px; /* 박스의 높이 설정 */
  text-align: center; /* 수평 가운데 정렬 */
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  border-radius: 20px;
  font-family: "배민도현";
  color: #ec323b;
  font-size: 20px;
  background-color: #fafafa;
  border: 2px solid white;
}

#changewheelbutton {
  color: white;
  background-color: #ec323b;
}
