<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/elderstart.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="kiosk">이노덕키</div>
      <div class="explain">:Innovation Duksung Kiosk</div>
      <div class="kioskexplain">
        이노덕키는 AI를 기반으로 사용자에 따라 <br />
        맞춤형 인터페이스 디자인을 제공하는 스마트 키오스크입니다.
      </div>
    </div>
    <div class="subcontainer">
      <button class="box1" onclick="window.location.href='/elder'"><img class="realimg" src="/static/blackin.png" /><span>먹고가기</span></button>
      <button class="box2" onclick="window.location.href='/elder'"><img class="realimg" src="/static/blackout.png" /><span>포장하기</span></button>
    </div>
    <div class="finalcontainer">
        <div class="finalment">사용자에 따른 이용 방식을 지정할 수 있어요!</div>
        <div class="selectbox">
        <button class="select" onclick="window.location.href='/second'">기본</button>
        <button class="select" id="changeelderbutton"  onclick="window.location.href='/elderstart'">노년층</button>
        <button class="select" onclick="window.location.href='/childstart'">어린이</button>
        <button class="select" onclick="window.location.href='/wheelstart'">휠체어 탑승자</button>
        <button class="select" onclick="window.location.href='/wheelelderstart'">노년층 휠체어 탑승자</button>
        <button class="select" onclick="window.location.href='/wheelchildstart'">어린이 휠체어 탑승자</button>
        <button class="select" onclick="window.location.href='/canestart'">시각장애인</button>
        <button class="select" onclick="window.location.href='/caneelderstart'">노년층 시각 장애인</button>
        <button class="select" onclick="window.location.href='/canechildstart'">어린이 시각 장애인</button>
        </div>
      </div>
    </body>
  </body>
</html>
