<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/wait.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="duckcontainer">
        <div class="duck"><img src="/static/duksae.png" /></div>
        <div class="explain">
          주문하시려면 <br />
          화면을 터치하세요!
        </div>
        <div class="buttondiv">
          <button class="startbutton" onclick="window.location.href='/restart'">
            START
          </button>
        </div>
        <div class="startexplain" onclick="window.location.href='/restart'">
          TOUCH TO START!
        </div>
      </div>
    </div>
  </body>
</html>
